<!DOCTYPE html>
<html data-theme="light"></html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://js.stripe.com/v3/"></script>

  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>


  <script src="{{ url_for('static', filename='js/custom_svg.js') }}"></script>
  <script src="{{ url_for('static', filename='js/payment.js') }}"></script>
</head>

<body>

  {% if request.args.get('delete_account') %}
  <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
    <div class="card-body bg-base-100 shadow-2xl rounded-xl">
        <h2 class="card-title">Confirm Account Deletion</h2>
        <p>Are you sure you want to delete your account?</p>
        <div class="card-actions justify-center">
          <a role="button" class="btn btn-ghost" href="/">Cancel</a>
          <a role="button" class="btn btn-error text-white" href="/delete_account">Yes, Delete</a>
        </div>
      </div>
    </div>
  {% endif %}

  {% if request.args.get('logout') %}
  <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
    <div class="card-body bg-base-100 shadow-2xl rounded-xl">
        <h2 class="card-title">Confirm Log Out</h2>
        <p>Are you sure you want to log out?</p>
        <div class="card-actions justify-center">
          <a role="button" class="btn btn-ghost"><a href="/">Cancel</a></button>
          <a role="button" class="btn btn-error text-white" href="/logout">Yes, Log Out</a>
        </div>
      </div>
    </div>
  {% endif %}


  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">
        <custom-svg src="{{ url_for('static', filename='img/logo.svg') }}" class="w-8 h-8"></custom-svg>
        BuildRadar
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">

        {% if session.get('uid') %}
          <li><a href="/generate">
            <custom-svg src="{{ url_for('static', filename='img/dark/rocket.svg') }}" class="w-6 h-6 text-red-500"></custom-svg>
            Generate
          </a></li>

          <li>
            <details class="dropdown">
              <summary>
                <custom-svg src="{{ url_for('static', filename='img/dark/danger.svg') }}" class="w-6 h-6"></custom-svg>
                Dangerous Stuff
              </summary>
              <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-full">
                <li><a href="?logout=1">
                  <custom-svg src="{{ url_for('static', filename='img/dark/logout.svg') }}" class="w-6 h-6"></custom-svg>
                  Log Out
                </a></li>
                <li><a href="?delete_account=1">
                  <custom-svg src="{{ url_for('static', filename='img/dark/broken_heart.svg') }}" class="w-6 h-6"></custom-svg>
                  Delete Account
                </a></li>
              </ul>
            </details>
          </li>

        {% else %}
          <li><a href="/login">
            <custom-svg src="{{ url_for('static', filename='img/dark/login.svg') }}" class="w-6 h-6"></custom-svg>
            Login
          </a></li>
        {% endif %}
      </ul>
    </div>
  </div>


  {% block content %}{% endblock %}

</body>
