{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>


  <title>Generate - BuildRadar</title>


</head>
<body>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex flex-col lg:flex-row items-start lg:space-x-8 text-center lg:text-left">
      <form class="card shrink-0 w-full shadow-2xl bg-base-100 max-w-lg card-body form-control max-w-[100vw]" method="post">


        <textarea id="description" name="description" class="textarea textarea-bordered w-full h-32" placeholder="Describe your project here
Like the goal, the problem and the solution" required></textarea>

        <div class="divider">Features</div>

        <input id="feature-1" name="feature-1" type="text" placeholder="Feature 1 here" class="input input-bordered w-full" required>
        <input id="feature-2" name="feature-2" type="text" placeholder="Feature 2 here" class="input input-bordered w-full mt-3" required>
        <input id="feature-3" name="feature-3" type="text" placeholder="Feature 3 here" class="input input-bordered w-full mt-3" required>

        <div class="divider">Feature Number</div>

        <input id="feature-number" name="feature-number" type="range" min="1" max="8" value="4" class="range" step="1">
        <div class="w-full flex justify-between text-xs px-3">
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>
          <span>6</span>
          <span>7</span>
          <span>8</span>
        </div>

        <div class="tooltip" data-tip="Enter for shortcut-lovers ❤️">
          <button type="submit" class="btn btn-primary mt-3 w-full">
            Generate Feature Requests
          </button>
        </div>
      </form>



      {% if output %}
      <div class="divider lg:divider-horizontal"></div>

      <div class="card flex-none shadow-2xl bg-base-100 w-full max-w-[100vw] card-body mt-8 ">
        <table class="table table-zebra">
          <thead>
            <tr>
              <th></th>
              <th>Feature Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for i in output %}
            <tr>
              <th>{{ loop.index }}</th>
              <td>{{ i.title }}</td>
              <td>{{ i.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>


</body>
</html>
{% endblock %}